body {
font-family: "Times New Roman", Times, serif;
margin: 0;
overflow-x: hidden;
/*background-image: linear-gradient(to right, rgba(255, 6, 201, 0.406), rgb(255, 132, 0));
background-color:#c63b3b; */

}
footer {
font-family: "Times New Roman", Times, serif;
}
.sidenav {
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #6f6a6a;
overflow-x: hidden;
padding-top: 20px;
}
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #5f4b4b;
display: block;
}
.sidenav a:hover {
color: #87546d;
}
a:link {
text-decoration: none;
color: #ffffff;
}
.main {
margin-left: 160px; /* Same as the width of the sidenav */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;

}
.wavy {
display: inline-flex;
justify-content: left;
flex-wrap: wrap;
white-space: pre-wrap;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
