<div class="desktop-icons">
  <a href="{{ '/' | relative_url }}" class="desktop-icon">
    <img src="{{ '/assets/icons/Internet Explorer/iexplore_32536.ico' | relative_url }}" alt="">
    <span>Home</span>
  </a>
  <a href="{{ '/projects' | relative_url }}" class="desktop-icon">
    <img src="{{ '/assets/icons/Filetypes, Devices, Miscellaneous/dsuiext_4137.ico' | relative_url }}" alt="">
    <span>Projects</span>
  </a>
  <a href="{{ '/blog' | relative_url }}" class="desktop-icon">
    <img src="{{ '/assets/icons/Special Folders/imageres_112.ico' | relative_url }}" alt="">
    <span>Blog</span>
  </a>
  <a href="{{ '/gallery' | relative_url }}" class="desktop-icon">
    <img src="{{ '/assets/icons/Special Folders/imageres_113.ico' | relative_url }}" alt="">
    <span>Gallery</span>
  </a>
  <a href="{{ '/resume' | relative_url }}" class="desktop-icon">
    <img src="{{ '/assets/icons/Filetypes, Devices, Miscellaneous/imageres_130.ico' | relative_url }}" alt="">
    <span>Resume</span>
  </a>
</div>
