{% assign project = include.project %}

<fieldset>
  <legend>{{ project.title }}</legend>
  <p>{{ project.description }}</p>

  <div class="button-group">
    {% if project.article %}
    <button onclick="window.location.href='{{ project.url | relative_url }}'">Read More</button>
    {% endif %}
    {% if project.external_url and project.external_url != "" %}
    <button onclick="window.open('{{ project.external_url }}', '_blank', 'noopener,noreferrer')">
      {% if project.url_text and project.url_text != "" %}
        {{ project.url_text }}
      {% else %}
        External Link
      {% endif %}
    </button>
    {% endif %}
  </div>
</fieldset>
