<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <div class="container">
    {% include menubar.html %}
    
    <div class="window">
      <div class="title-bar">
        <div class="title">{{ page.title | default: site.title }}</div>
        <div style="width: 16px;"></div>
      </div>
      
      <div class="content">
        {{ content }}
        
        <div class="footer">
          made on earth by humans | 2025 abby bigaouette
        </div>
      </div>
    </div>
  </div>
</body>
</html>